@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  src: local("Courier Prime Regular"), local("CourierPrime-Regular"),
    url("../fonts/courier-prime-v1-latin-regular.woff2") format("woff2"),
    url("../fonts/courier-prime-v1-latin-regular.woff") format("woff");
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #000;
  position: relative;
  color: #fff;
  fill: #fff;
  text-align: center;
  font-family: "Courier Prime", "Courier New", Courier, monospace;
}

.timer {
  display: flex;
  flex-direction: column;
}

time {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.buttons {
  position: relative;
  vertical-align: middle;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s;
  -webkit-appearance: button;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
}

button:active {
  z-index: 1;
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

@media (hover: hover) {
  button:hover {
    z-index: 1;
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    text-decoration: none;
  }
}

button svg {
  height: 2rem;
  max-width: 70%;
  max-height: 70%;
  margin: 15%;
}

button:focus {
  z-index: 1;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  outline: 0;
}
